<!-- <h1>  That is my first home page </h1> -->

<br/>

<div class="jumbotron">
  <h1 class="display-4">Stock Quote Engine  for: <br/>
	{{ stock.companyName }}  <br/></h1> <br/>
	<strong> Latest Price: </strong> ${{ stock.latestPrice }}  <br/>
	<strong> 52 wk High: </strong> ${{ stock.week52High }}  <br/>
	<strong> 52 wk Low: </strong> ${{ stock.week52Low }}  <br/>
	<strong> Market Cap: </strong> ${{ posted_stuff }}  billions <br/>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="about.html" role="button">Learn more about me</a>
  </p>
</div>


<p>
<br/>


